chromadb
click
colorama
contourpy
cycler
fonttools
groq
joblib
kiwisolver
matplotlib
nltk
numpy
packaging
pandas
pdfplumber
pillow
pyparsing
python-dateutil
pytz
regex
scikit-learn
scipy
seaborn
sentencepiece
sentence-transformers
six
threadpoolctl
torch
transformers
tqdm
tzdata
