chromadb
click
colorama
contourpy
cycler
fonttools
joblib
kiwisolver
matplotlib
nltk
numpy
packaging
pandas
pdfplumber
pillow
pyparsing
python-dateutil
pytz
regex
scikit-learn
scipy
seaborn
sentence-transformers
six
threadpoolctl
torch
tqdm
tzdata
